<p-toolbar styleClass="bg-bluegray-100">
    <div class="p-toolbar-group-start"> </div>
    <div class="p-toolbar-group-center flex items-center justify-center">
        <div class="flex flex-wrap">
        <span class="text-blue-800 line-height-2 ">©</span>
        <span class="flex font-bold line-height-2 text-blue-800 text-base ml-8 mr-1">IBM </span>
        <span class="text-ms text-align line-height-2 mr-2 text-blue-700"> Shop | </span>
        <span class="text-xs font-light line-height-4 text-blue-700"> ALL RIGHTS RESERVED</span>
    </div>
</div>
    <div class="p-toolbar-group-end"> </div>
</p-toolbar>
